@model ProyectoSenaLmour.Models.Habitacione

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Crear habitación</h1>

<hr />
<form asp-action="Create" asp-controller="Habitaciones">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="IdTipoHabitacionNavigation.NomTipoHabitacion" class="control-label"></label>
                <select asp-for="IdTipoHabitacion" class="form-control" asp-items="ViewBag.IdTipoHabitacion"></select>
                <option selected disabled>  Selecciona  </option>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option selected disabled>  Selecciona  </option>
                    <option>  Activo  </option>
                    <option>  Inactivo  </option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" placeholder="$" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />

    <div class="btn_crear">
        <input type="submit" value="Crear Habitacion" class="btn btn-primary" />
    </div>
    <div class="btn_volver">
        <a asp-action="Index">Volver</a>
    </div>
</form>
    </div>


        @section Scripts {
        }
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

        <style>

            .btn_crear {
                cursor: pointer;
                top: 570px;
                position: absolute;
            }

            .btn_volver {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #000;
                border-radius: 10px;
                padding: 5px 5px;
                width: 80px;
                background-color: #393d3f;
                color: white;
                cursor: pointer;
                top: 570px;
                position: absolute;
                right: 65%;
            }
        </style>
