@model ProyectoSenaLmour.Models.ViewModels.ReservaVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>

<h1>Crear Reserva</h1>

<h4></h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Documento Cliente</label>
                <input class="form-control" asp-items="ViewBag.DocumentoCliente" asp-for="oReserva.NroDocumentoCliente"></input>
            </div><br>
            <div class="form-group">
                <label class="control-label">Documento Usuario</label>
                <input class="form-control" asp-items="ViewBag.DocumentoUsuario" asp-for="oReserva.NroDocumentoUsuario"></input>
            </div><br>
            <div class="form-group">
                <label class="control-label">Fecha de Reserva</label>
                <input id="fechaHoy" asp-for="oReserva.FechaReserva" type="text" class="form-control" />
                <span class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label class="control-label">Fecha de Ingreso</label>
                <input type="date" id="fechaIngreso" class="form-control" />
                <span class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label class="control-label">Fecha de Salida</label>
                <input type="date" id="fechaSalida" class="form-control" />
                <span class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label class="control-label">Número de Personas</label>
                <input type="number" class="form-control" asp-for="oReserva.NroPersonas" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">SubTotal</label>
                <input class="form-control" asp-for="oReserva.SubTotal" id="inputSubTotal" readonly />
                <span class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label class="control-label">Descuento</label>
                <input class="form-control" asp-for="oReserva.Descuento" id="inputDescuento" oninput="formatoDescuento(this)" onkeyup="actualizarInfoCosto()" />
                <span class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label class="control-label">Iva</label>
                <input class="form-control" asp-for="oReserva.Iva" id="inputIva"  readonly />
                <span  class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label  class="control-label">Monto Total</label>
                <input class="form-control" asp-for="oReserva.MontoTotal" id="inputMontoTotal" readonly />
                <span class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label class="control-label">Método de Pago</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" class="form-control" asp-for="oReserva.IdMetodoPago" asp-items="Model.oListaMetodosPago">
                    <option selected disabled>  Selecciona  </option>
                </select>
            </div><br>
            <div class="form-group">
                <label class="control-label">Estado de Reserva</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" class="form-control" asp-for="oReserva.IdEstadoReserva" asp-items="Model.oListaEstados">
                    <option selected disabled>  Selecciona  </option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">

                <label>Paquetes disponibles</label>
                <select class="form-select form-select-sm" id="selectPaquete" aria-label=".form-select-sm example">
                    <option selected disabled>  Selecciona  </option>
                    @foreach (var paquete in ViewBag.Paquetes)
                    {
                        <option value="@paquete.IdPaquete">@paquete.NomPaquete</option>
                    }
                </select>

                <br />

                <input class="form-control" id="inputCostoPaquete" readonly/>

                <input type="hidden" id="paqueteSeleccionado" name="paqueteSeleccionado" />

                <br /><br />

                <a class="btn btn-success" id="btnAgregarServicio">Agregar Servicio</a>
                <br /><br />

                <select class="form-select form-select-sm" id="selectServicios" aria-label=".form-select-sm example">
                    <option selected disabled>  Selecciona  </option>
                    @foreach (var servicio in ViewBag.Servicios)
                    {
                        <option value="@servicio.IdServicio">@servicio.NomServicio</option>
                    }
                </select>

                <input type="hidden" class="form-control" id="inputCostoServicio" />

                <br />

                <div class="card">

                    <div class="card-header">
                        <label class="form-label">Servicios Asignados</label>
                    </div>

                    <div class="card-body">

                        <table id="tablaServiciosSeleccionados" class="table table-striped table-bordered table-hover table-servicios">

                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Costo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                            <input type="hidden" id="serviciosSeleccionados" name="serviciosSeleccionados" />

                        </table>

                    </div>

                </div>
                
            </div>

        </div>

    </div>

    <br>

    <div class="form-group">
        <input type="submit" value="Crear" class="btn_crear" /> 
        <div class="separador">
            <label>|</label>
        </div>
        <a asp-action="Index" class="btn_volver">Volver</a>
    </div>
</form>
<br>
<br>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/reservascript.js"></script>
}

    <style>

        .btn_crear {
            cursor: pointer;
            top: 620px;
            position: absolute;
            border: 2px solid #000;
            border-radius: 10px;
            padding: 5px 5px;
            width: 80px;
            background-color: #393d3f;
            color: white;

        }

        .separador{
            position: absolute;
            display: flex;
            right: 77%;
            top: 625px;
        }

        .btn_volver {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #000;
            border-radius: 10px;
            padding: 5px 5px;
            width: 80px;
            background-color: #393d3f;
            color: white;
            cursor: pointer;
            top: 620px;
            position: absolute;
            right: 71%;
        }

    </style>



